<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Magpie.actionSet"
            label="Magpie"
            visible="true">
         <menu
               id="MagpieMenu"
               label="Magpie">
         </menu>
         <action
               class="magpie.actions.WebSearch"
               icon="icons/sample.gif"
               id="magpie.actions.WebSearch"
               label="&amp;Search the Web.."
               menubarPath="MagpieMenu/MagpieGroup"
               toolbarPath="MagpieGroup"
               tooltip="Search the Web">
         </action>
         <action
               class="magpie.actions.AnalyzeCode"
               icon="icons/sample.gif"
               id="magpie.actions.AnalyzeCode"
               label="&amp;Analyze Code Origin..."
               menubarPath="MagpieMenu/MagpieGroup"
               toolbarPath="MagpieGroup"
               tooltip="Analyze Code">
         </action>
  </actionSet>
   </extension>
   <extension
         id="magpie.source.marker"
         name="Magpie Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SOURCE">
      </attribute>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="magpie.source.marker.same"
         name="Magpie Identical Code Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SOURCE">
      </attribute>
      <super
            type="magpie.source.marker">
      </super>
   </extension>
   <extension
         id="magpie.source.marker.delete"
         name="Magpie Removed Code Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SOURCE">
      </attribute>
      <super
            type="magpie.source.marker">
      </super>
   </extension>
   <extension
         id="magpie.source.marker.different"
         name="Magpie Different Code Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SOURCE">
      </attribute>
      <super
            type="magpie.source.marker">
      </super>
   </extension>
   <extension
         id="magpie.source.marker.new"
         name="Magpie Added Code Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SOURCE">
      </attribute>
      <super
            type="magpie.source.marker">
      </super>
   </extension>
	 <extension
        id="magpie.annotationtype.new"
        name="Magpie Added Code Annotation"
        point="org.eclipse.ui.editors.annotationTypes">
		  <type
			 name="magpie.source.annotation.new"
			 markerType="magpie.source.marker.new"
		  ></type>
	  </extension>
  <extension
        id="magpie.annotationtype.delete"
        name="Magpie Deleted Code Annotation"
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerType="magpie.source.marker.delete"
           name="magpie.source.annotation.delete">
     </type>
  </extension>
  <extension
        id="magpie.annotationtype.different"
        name="Magpie Changed Code Annotation"
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerType="magpie.source.marker.different"
           name="magpie.source.annotation.different">
     </type>
  </extension>
  <extension
        id="magpie.annotationtype.same"
        name="Magpie Same Code Annotation"
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerType="magpie.source.marker.same"
           name="magpie.source.annotation.same">
     </type>
  </extension>
	  <extension
         id="magpie.annotationspec.new"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
	   <specification
	         annotationType="magpie.source.annotation.new"
	         colorPreferenceKey="magpie.source.annotation.new.color"
	         colorPreferenceValue="192,255,192"
	         contributesToHeader="false"
	         highlightPreferenceKey="magpie.source.annotation.new.highlight"
	         highlightPreferenceValue="true"
	         includeOnPreferencePage="true"
	         label="Magpie Annotation"
	         overviewRulerPreferenceKey="magpie.source.annotation.new.overview"
	         overviewRulerPreferenceValue="true"
	         presentationLayer="0"
	         textPreferenceKey="magpie.source.annotation.new.text"
	         textPreferenceValue="true"
	         textStylePreferenceValue="BOX"
	         verticalRulerPreferenceKey="magpie.source.annotation.new.ruler"
	         verticalRulerPreferenceValue="true">
	   </specification>
	</extension>
   <extension
         name="Magpie New Annotation Specification"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="magpie.source.annotation.delete"
            colorPreferenceKey="magpie.source.annotation.delete.color"
            colorPreferenceValue="255,192,192"
            contributesToHeader="false"
            highlightPreferenceKey="magpie.source.annotation.delete.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Magpie Annotation"
            overviewRulerPreferenceKey="magpie.source.annotation.delete.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="magpie.source.annotation.delete.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="magpie.source.annotation.delete.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="magpie.annotationspec.different"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="magpie.source.annotation.different"
            colorPreferenceKey="magpie.source.annotation.different.color"
            colorPreferenceValue="255,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="magpie.source.annotation.different.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Magpie Annotation"
            overviewRulerPreferenceKey="magpie.source.annotation.different.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="magpie.source.annotation.different.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="magpie.source.annotation.different.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="magpie.annotationspec.same"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="magpie.source.annotation.same"
            colorPreferenceKey="magpie.source.annotation.same.color"
            colorPreferenceValue="192,192,192"
            contributesToHeader="false"
            highlightPreferenceKey="magpie.source.annotation.same.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Magpie Annotation"
            overviewRulerPreferenceKey="magpie.source.annotation.same.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="magpie.source.annotation.same.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="magpie.source.annotation.same.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Magpie"
            name="Magpie">
      </category>
      <view
            category="Magpie"
            class="magpie.views.DiffView"
            icon="icons/sample.gif"
            id="magpie.views.DiffView"
            name="Magpie Diff Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="magpie.views.DiffView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
